/* 
Colour palette
https://colorhunt.co/palette/eeedebe6b9a69391852f3645 
*/

:root {
  --lightGrey: #eeedeb;
  --pink: #e6b9a6;
  --darkGrey: #939185;
  --blue: #2f3645;
  --header-height: 5rem;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--lightGrey);
  color: var(--blue);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1000;
  height: var(--header-height) + 3rem;
  background-color: var(--darkGrey);
  color: var(--blue);
}

header .intro {
  font-family: cursive;
  padding: 0 2rem;
  color: var(--lightGrey);
}

.navbar {
  display: inline-flex;
  flex-direction: row;
  padding: 0 2rem;
  margin-left: auto;
  height: var(--navbar-height);
}

.tablink {
  font-family: Copperplate;
  margin: 0 1rem;
  font-size: larger;
  color: var(--blue);
  text-decoration: none;
}

.tablink:hover,
.button:hover {
  color: var(--pink);
}

main {
  width: 100%;
  padding: 10rem;
}

h1 {
  text-align: center;
  font-family: Copperplate;
}

h2 {
  padding: 1rem;
  text-align: center;
  background-color: var(--blue);
  color: white;
  font-family: cursive;
}

h3:not(.intro) {
  text-align: center;
  color: var(--blue);
  padding: 1rem;
  background-color: white;
}

.tablink.active {
  font-size: x-large;
  color: white;
}

span:hover {
  color: white;
}

.tabcontent {
  padding-top: calc(var(--header-height) + 3rem);
}

.skill-tabcontent {
  background-color: var(--pink);
  padding: 1rem;
  margin: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  padding: 1rem;
  margin: 0.5rem;
}

#skill .column {
  background-color: var(--lightGrey);
  color: var(--blue);
  flex: 50%;
}

a {
  color: inherit;
}

.myPic {
  max-width: 100%;
  width: 50rem;
  height: auto;
  margin-top: 1.5rem;
}

video {
  max-width: 100%;
  width: 30rem;
  height: 15rem;
  display: block;
  margin: 3rem auto;
  background-color: var(--blue);
}

.iframe-container {
  display: flex;
  justify-content: center;
}

iframe {
  border: none;
  max-width: 100%;
  width: 45rem;
  height: 70rem;
}

.button {
  background-color: white;
  color: var(--blue);
  border-radius: 15%;
  text-decoration: none;
  padding: 0.5rem;
}

.desc {
  padding: 1rem;
}

.contact {
  margin: 0 auto;
  padding: 0;
}

.social {
  display: flex;
  justify-content: center;
  margin: 1rem;
  text-decoration: none;
}

.circle {
  border-radius: 50%;
  background-color: var(--darkGrey);
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  display: inherit;
}

span {
  line-height: inherit;
  font-size: xx-large;
  padding: 1.5rem;
  color: var(--blue);
}

@media (max-width: 480px) {
  body {
    font-size: small;
  }

  main {
    padding: 2rem;
  }

  header,
  .row {
    flex-direction: column;
  }

  header {
    padding: 1rem;
  }

  .navbar {
    margin: auto;
  }

  .tablink {
    font-size: medium;
  }

  .tablink.active {
    font-size: large;
  }

  .circle {
    width: 2rem;
    height: 2rem;
  }

  span {
    font-size: medium;
    padding: 0.5rem;
  }

  .myPic {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 481px) and (max-width: 1097px) {
  body {
    font-size: medium;
  }

  main {
    padding: 5rem;
  }

  header {
    flex-direction: column;
  }

  header {
    padding: 1rem;
  }

  .navbar {
    margin: auto;
  }

  .tablink {
    font-size: large;
  }

  .tablink.active {
    font-size: x-large;
  }

  .circle {
    width: 3rem;
    height: 3rem;
  }

  span {
    font-size: large;
    padding: 1rem;
  }
}
